<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <permission
        android:name="${applicationId}.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"
        android:protectionLevel="signature"
        tools:node="remove" />

    <uses-permission
        android:name="${applicationId}.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"
        tools:node="remove" />


    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:name=".utils.hookstatus.ModuleAppImpl"
        android:resizeableActivity="true"
        android:theme="@style/AppTheme.Def"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning,UnusedAttribute">
        <activity
            android:exported="true"
            android:icon="@drawable/icon"
            android:name="cn.martinkay.wechatroaming.settings.activity.ConfigV2Activity"
            android:theme="@style/Theme.MaiTungTMDesign.DayNight">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="de.robv.android.xposed.category.MODULE_SETTINGS" />
            </intent-filter>
        </activity>


        <activity-alias
            android:icon="@drawable/icon"
            android:name=".activity.ConfigV2ActivityAlias"
            android:targetActivity="cn.martinkay.wechatroaming.settings.activity.ConfigV2Activity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MaiTungTMDesign.DayNight">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity
            android:exported="false"
            android:name="cn.martinkay.wechatroaming.settings.activity.SettingsUiFragmentHostActivity"
            android:theme="@style/AppTheme.Def" />


        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="微信漫游(WechatRoaming Xposed Module)" />
        <meta-data
            android:name="xposedminversion"
            android:value="53" />

        <meta-data
            android:name="xposedscope"
            android:resource="@array/xposedscope" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="remove"
            tools:ignore="MissingClass" />

    </application>

    <queries>
        <package android:name="com.tencent.mm" />
        <package android:name="me.weishu.exp" />
        <package android:name="de.robv.android.xposed.installer" />
        <package android:name="org.lsposed.manager" />
        <package android:name="com.android.shell" />
    </queries>

</manifest>